*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* DEBUG */
.debug{
  background-color: rgba(98, 184, 17, 0.3);
  border: 1px solid black;
  min-height: 80px;
}

.h100{
  height: 100px;
}

.h200{
  height: 200px;
}

.h300{
  height: 300px;
}

.h500{
  height: 500px;
}


/* MAIN */
.banner{
  background-color: antiquewhite;
  height: 600px;
  color: white;
  background-size: cover;
  background-position: center;
}

.active{
  border: 3px solid #0071ed;
}

.gg-card{
  width: 100%;
  border-radius: 20px;
  background-color: transparent;
}

.gg-card img{
  width: 100%;
  border-radius: 20px;
  padding: 3px;
}

.gg-opacity{
  opacity: 0.5;
}

.active2{
  opacity: 1;
  border-bottom: 2px solid #0071ed;
}

.gg-gray-text{
  color: #707070;
}