/* HEADER */

header{
  height: 40px;
  background-color: black;
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;
  left: 0;
  height: 100px;
}

/* MAIN */

/* BANNER */
.banner-1{
  margin-top: 100px;
  background-image: url(../img/jumbo-bg.png);
  
}

.banner img{
  width: 60%;
}

.banner-2{
  background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

.banner-small-1{
  background-color: #b6b4b1;
}

.banner-small-2{
  background-color: #161c3c;
  color: rgb(252, 245, 245);
}

.gg-blue{
  color: #056cda;
  text-transform: uppercase;
  font-weight: bold;
}

/* SECTION */

.gg-dark{
  background-color: #131212;
  color: white;
}

/* FOOTER */